nav {
  width: 100%;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1vw;
}

.col-head {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #4a4a4a;
}

.per-col {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #27ae60;
}

.per-col2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #ff6b6b;
}

#col {
  color: #2c57f5;
}

.nav-items div {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 19px;
  color: #000000;
}

.nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 19px;
  color: #000000;
}

/*<----------------------Navigation Two-------------------->*/

.nav-items2 input {
  width: 10.6vw;
  height: 2.8vw;
  outline: none;
  padding-left: 1vw;
}

.nav-input-label {
  position: relative;
  z-index: 4;
  top: -1.5vw;
  left: -9.5vw;
  padding: 0 0.4vw !important;
  color: #888888;
  font-size: 1.2vw;
  pointer-events: none;
  border: 0;
  background-color: white;
}
.main-div {
  margin: 2vh 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-items2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw;
}
.col-head1 {
  color: #888888;
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}

.btn {
  width: 8vw;
  height: 6vh;
  border-radius: 2px;
  color: white;
  font-size: 2vh;
  border-style: none;
  background: #2c57f5;
  cursor: pointer;
}

.main-div2 {
  margin: 2vh 9vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#blue-btn {
  width: 6vw;
  height: 5vh;
  color: white;
  font-size: 1.8vh;
  border-style: none;
  background: #2c57f5;
  border-radius: 8px;
  margin-right: 2vw;
  cursor: pointer;
}

#white-btn {
  width: 6vw;
  height: 5vh;
  color: black;
  font-size: 1.8vh;
  border-style: none;
  background: #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
}

#basket-container {
  width: 618px;
  height: 382px;
  background: #ffffff;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

#basket-container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 618px;
  height: 58px;
  background: #2c57f5;
}

/*<----------------------Basket-------------------->*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5rem;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 618px;
  height: 382px;
  background: #ffffff;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007dfe;
  font-size: 6vh;
  text-align: center;
}

#text {
  font-size: 4vh;
  color: black;
  text-align: center;
}

.model-btn1 {
  width: 97px;
  height: 29px;
  color: #2c57f5;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #2c57f5;
}

.basket-nav {
  width: auto;
  height: 58px;
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #2c57f5;
}

.basket-nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}

td input {
  width: 60px;
  height: 20px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.b-col {
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  background: #86c6e6;
}

.s-col {
  width: 20px;
  height: 20px;
  align-items: center;
  background: #ffa8a8;

}

.grey-col{
  background-color: #F9F9F9;
}

.blue-col {
  width: 46px;
  height: 20px;
  color: white;
  text-align: center;
  background: #2c57f5;
}

#footer {
  width: 618px;
  height: 64px;
  margin-top: 160px;
  background: #ffffff;
  border-top: 1px solid #d3d3d3;
}

.model-btn2 {
  width: 97px;
  height: 29px;
  background: #2c57f5;
  border-style: none;
  cursor: pointer;
  color: white;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.model-btn3 {
  width: 106px;
  height: 29px;
  border-style: none;
  background: #ffd700;
  cursor: pointer;
}

.blue {
  color: #2c57f5;
}

th {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #393939;
}

/*<----------------------Table-------------------->*/

#flex-component {
  display: flex;
  align-items: center;
  width: 90.6vw;
  height: 8.1vh;
  margin-left: 4.6vw;
  background: #ffffff;
  justify-content: space-around;
}

#table-flex {
  margin-left: 4.6vw;
  margin-right: 10.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row-1 {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-between;
  background: #e8effb;
  border-bottom: 1px solid #99b8ed;
  align-items: center;
  padding: 2vh;
}

#row-2 {
  display: flex;
  flex-direction: row;
  width: 10vw;
  justify-content: space-between;
  height: 39px;
  background: #efe8fb;
  text-align: center;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #d5bcfe;
  align-items: center;
}

#row-3 {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-between;
  height: 40px;
  background: #e8effb;
  border-bottom: 1px solid #99b8ed;
  align-items: center;
  padding-right: 2vh;
}

.row-elements {
  border-bottom: 1px solid #000000;
  background-color: #fffacd;
  display: flex;
  flex-direction: row;
  width: 40vw;
  border: 1px solid #f8eb77;
  justify-content: space-between;
}

.row-elements3 {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-between;
}

#chng1 {
  color: #27ae60;
}

#chng2 {
  color: #ff6b6b;
}

.box {
  width: 20px;
  height: 20px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #d0d0d0;
}

/*<----------------------Filter-------------------->*/



.filter-container {
  position: fixed;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 24vw;
  padding: 1vw;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);;
}

h2 {
  color: #007dfe;
  font-size: 6vh;
  text-align: center;
}

#text {
  font-size: 4vh;
  color: black;
  text-align: center;
}

.model-btn {
  color: white;
  background-color: #007dfe;
  height: 5.6vh;
  width: 9vw;
  margin-left: 7vw;
  border-radius: 0.5vw;
}

.filter-input{
  width: 8vw;
  height: 2.3vw;
  margin: 0.2vw 0;
  padding: 0.2vw 0.5vw;
}

#resetFilter{
  cursor: pointer;
  float: right;
  display: inline-block;
  margin: 1vw 0.5vw;
  border: 2px solid #2C57F5;
  padding: 0.5vw 1vw;
  color: #2C57F5;
}

#applyFilter{
  cursor: pointer;
  float: right;
  display: inline-block;
  margin: 1vw 0.5vw;
  padding: 0.7vw 1vw;
  color: white;
  background-color: #2C57F5;
}

.basketBtn span{ 
  min-width: 20px;
  text-align: center;
  background-color: #F8EB77;
  padding: 4.5px;
  position: absolute;
  top: 68px;
  right: 70px;
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
}

