nav {
  width: 100%;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1vw;
}

.col-head {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #4a4a4a;
}

.per-col {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #27ae60;
}

.per-col2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
  color: #ff6b6b;
}

#col {
  color: #2c57f5;
}

.nav-items div {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 19px;
  color: #000000;
}

.nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 19px;
  color: #000000;
}

/*<----------------------Navigation Two-------------------->*/

#main-div {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-items2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw;
}
.col-head1 {
  color: #888888;
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 14px;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-items3{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items3 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  
}

.btn{
  width: 8vw;
height: 6vh;
border-radius: 2px;
color: white;
font-size: 2vh;
border-style: none;
background: #2C57F5;
}


